body {
            background-image: url(media/bg-new.jpg); /* Display background image */
            background-size: scale; /* Scale image to full screen always */
            background-repeat: no-repeat; /* Never tile/loop image */
            font-family: Arial, Helvetica, sans-serif; /* Change/set font */
            color:white; /* Sets ALL text white, can set it manually for specific headings inside of them */
            text-align: center;
        }
        /* Create a coloured box overlay for main text */
        .colored-box-main {
            position: relative; /* Position it relatively within the body */
            top: 10%; /* Center vertically (Lower is higher)*/
            left: 50%; /* Center horizontally (50% is central) */
            transform: translate(-50%, -50%); /* Adjust position to truly center the box */
            width: 90%; /* Width of the box */
            height: 15%; /* Height of the box */
            background-color: rgba(23,27,34,255); /* Set main colour to dark grey opaque */
            display: flex; /* Enable flexbox for centering */
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            text-align: center; /* Center the text */
            border: 5px solid blue; /* Add a blue border, adjust thickness and color as needed */
        }
         /* Position Betton image and set margin underneath so text isn't under image */
         #bettonImg {
                  margin-top: 50;
                  width: 300px;
                  height: 300px;
                  position: relative;
        }
         /* Position aircraft image */
         #conTyf {
                  position: relative;
        }
         /* Position ATTENTION image */
         #attentionImg {
                  position: relative;
                  width: 544px;
                  height: 539px;
        }
        h2 {
                  background-color: rgba(23,27,34,255);
                  display: table; /* keep the background color wrapped tight */
                  margin: 10px auto 10px auto; /* keep the table centered */
                  padding:3px;font-size:20px;
        }
        h3 {
                  background-color: rgba(23,27,34,255);
                  display: table; /* keep the background color wrapped tight */
                  margin: 10px auto 10px auto; /* keep the table centered */
                  padding:3px;font-size:20px;
        }
        h4 {
                  background-color: rgba(23,27,34,255);
                  display: table; /* keep the background color wrapped tight */
                  margin: 10px auto 10px auto; /* keep the table centered */
                  padding:3px;font-size:20px;
       }
       /* Stuff that somehow makes it fit on screen (mainly for mobile) */
       .videobox {
                  display: grid;
                  height: 100%;
       }
       .center-fit {
                  max-width: 100%;
                  max-height: 100vh;
                  margin: 10px auto 10px auto;
        }
}
