body {
            background-image: url(media/bgtile.jpg); /* Display background image */
            background-repeat: repeat; /* Never tile/loop image */
            font-family: Arial, Helvetica, sans-serif; /* Change/set font */
            color:white; /* Sets ALL text white, can set it manually for specific headings inside of them */
            text-align: center;
            flex-direction: column;
        }
        /* Title box, with positioning and colours */
        .title-box {
            display: flex;
            justify-content: center; /* Make contents of box e.g. text stay central */
            text-align: center;
            border: solid 5px;
            margin: 20px;
            width: 60%;
            background-color: rgba(13,17,24,255); /* Set main colour to dark grey opaque */
            border: 5px solid rgba(104,60,156,255); /* Add a colour border */
            margin: auto;
            margin-top:25px;
            padding: 3%;
        }

        /* Main box, with positioning and colours */
        .main-box {
            display: flex;
            justify-content: center; /* Make contents of box e.g. text stay central */
            text-align: top;
            border: solid 5px;
            margin: 20px;
            width: 60%;
            background-color: rgba(13,17,24,255); /* Set main colour to dark grey opaque */
            border: 5px solid rgba(104,60,156,255); /* Add a colour border */
            margin: auto;
            padding: 3%;
        }

         /* Position aircraft image */
         #planeImg1 {
            position: relative;
        }

        /* Position piracy gif */
         #piracy {
            position: relative;
        }

        /* Position callum image */
         #callum {
            width:16px;
            height:16px;
            float: left;
        }

        hr.dotted-divider-1 {
            border-color:transparent;
            border-top: 5px dotted rgba(104,60,156,255);
            width: 90%;
        }

        hr.dotted-divider-2 {
            border-color:transparent;
            border-top: 5px dotted rgba(104,60,156,255);
            width: 90%;
        }

       /* Stuff that somehow makes it fit on screen (mainly for mobile) */
       .videobox {
                  display: grid;
                  height: 75%;
       }
       .center-fit {
                  max-width: 100%;
                  max-height: 100vh;
                  margin: 10px auto 10px auto;
        }
}
